:root {
    --accent-color: #2196F3;
    --brand-color: #212121;
    --additional-color: #757575;
    --backround-color: #2F303A;
    --fon-color: #FFFFFF;
    --title-color: #E5E5E5;
    --subject-color: #F5F4FA;
    --links-color: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto','Raleway',sans-serif;
}

/*------------header----------*/

ul {
    list-style: none;
}

.page-header{
    background-color: var(--fon-color);
}


.logo {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}
.logo-accent {
    font-family: 'Roboto',sans-serif;
    color: var(--brand-color);
    text-decoration: none;
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.site-nav a {
    text-decoration: none;
    color: var(--brand-color);
}
.auth-nav a {
    text-decoration: none;
    color: var(--additional-color);
}


/*------------main----------*/

.page-main {
    background-color: var(--backround-color);
}
.page-main h1 {
        font-weight: 900;
        font-size: 44px;
        line-height: 1,36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--fon-color);
}


.button {
        font-family: inherit;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1,8;
        letter-spacing: 0.06em;
        cursor: pointer;
    
        color: var(--fon-color);
        background-color: var(--accent-color);
}

 .botton:hover 
 .button:target {
    background-color: var(--backround-color);
}

.buttons {
    font-family: inherit;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1, 8;
        letter-spacing: 0.06em;
        cursor: pointer;
    
        color: var(--brand-color);
        background-color: var(--title-color)
}





.title {
    background: var(--title-color);
}

.titles {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--brand-color);
}

.lead {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        color: var(--additional-color);
}

.subtitles {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--brand-color);
}

.sybtitle {
    background: var(--title-color);
}

.name {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;

        color: var(--brand-color);
}

.text {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--additional-color);
}



.subject {
    background: var(--subject-color);
}

.subjects {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--brand-color);
}



/*-----------footer-----------*/



.page-footer {
    background: var(--backround-color);
}

.logo-link {
    font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: var(--accent-color);
        text-decoration: none;
}

.logo-adress {
    color: var(--fon-color);
    text-decoration: none;
}




.gps {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        color: var(--fon-color);
        text-decoration: none;
    }


.mails {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    
        color: var(--links-color);
        text-decoration: none;
    }

    .tells {
        font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
        
            color: var(--links-color);
            text-decoration: none;
        }
    
.list a:hover,
.list a:focus {
    color: var(--fon-color);
}
